@import "./colors.scss";

.btnActive {
  border: 1.5px solid $primary;
  background-color: $primary;
  color: $on-primary;
}

.btnClear {
  color: $on-surface;
  background-color: $secondary;
  border: 1.5px solid $primary;
}

.btnInactive {
  border: 1.5px solid $primary;
  background-color: $surface;
  color: $on-surface;
}

.btn {
  margin: 0.25rem 0.15rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.2rem;
  border-width: 1.5px;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(0.98);
    cursor: pointer;
  }
}
